<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>About</title>
</head>

<body>
   <h1>
      About
   </h1>
   <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore commodi doloremque magnam modi! Tempora,
      iure cum deserunt debitis, eos explicabo quo doloremque illo mollitia ipsa molestiae, inventore consequatur animi.
   </div>
   <form action="/">
      <button type="submit">Home</button>
   </form>
   <form action="/signin">
      <button type="/submit">Sign In</button>
   </form>
</body>

</html>